<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Учет_цистерн.Properties.Settings.BatysConnectionString" connectionString="Data Source=DESKTOP-KU08VBH;Initial Catalog=Batys;Persist Security Info=True;User ID=sa;Password=sql123; Application Name =Учет-цистерн.exe" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <appSettings>
        <add key="Url" value="http://192.168.10.224/dl/AutoUpdaterTest.xml"/>
    </appSettings>  
</configuration>
